*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}
.poster{
  height: 270px;
  width: 180px;
}
.opinion{
  display: flex;
  gap: 3px;
}
.App {
 display: grid;
 grid-template-columns: repeat(2,1fr);
}
